

.form{
   margin-left: 300px;
   margin-right: 200px;
    width: 400px;
   color:white;
   box-shadow: red;
}

.formGroup{
    color: blue;
}
.text{
     color:white;
     text-align-last:center;
     padding-top: 200px;
     margin-left: 40px;


}
  
/*.function Login(){

    const backImage={width: '100%',height: '745px',backgroundImage: `url(${img2})`,backgroundSize: 'cover'}
    return (
    <div className="cComponent" style={backImage} >
    <h1 align="center">Some header example</h1>
};*/
    

